<section class="soji">
    <span>
        <h3 style="text-align: center;">Feature sales</h3>
        <ul style="list-style-type: none;">
            <li> Alexis Hudson</li>
            <li> American Aparel</li>
            <li> Ben Sherman</li>
            <li> Big Budda</li>
            <li> Chanel</li>
            <li> Coach</li>
            <li> Christain Audigier</li>
            <li> Underware</li>
            <li> Ankara</li>
        </ul>
    </span>
    <span>
        <h3 style="text-align: center;">Feature sales</h3>
        <ul style="list-style-type: none;">
            <li> Alexis Hudson</li>
            <li> American Aparel</li>
            <li> Ben Sherman</li>
            <li> Big Budda</li>
            <li> Chanel</li>
            <li> Coach</li>
            <li> Christain Audigier</li>
            <li> Underware</li>
            <li> Ankara</li>
        </ul>
    </span>
    <span>
        <h3 style="text-align: center;">Kid</h3>
        <ul style="list-style-type: none;">
            <li> Alexis Hudson</li>
            <li> American Aparel</li>
            <li> Ben Sherman</li>
            <li> Big Budda</li>
            <li> Chanel</li>
            <li> Coach</li>
            <li> Christain Audigier</li>
            <li> Underware</li>
            <li> Ankara</li>
        </ul>
    </span>
    <span>
        <h3 style="text-align: center;">Men stores</h3>
        <ul style="list-style-type: none;">
            <li> Alexis Hudson</li>
            <li> American Aparel</li>
            <li> Ben Sherman</li>
            <li> Big Budda</li>
            <li> Chanel</li>
            <li> Coach</li>
            <li> Christain Audigier</li>
            <li> Underware</li>
            <li> Ankara</li>
        </ul>
    </span>
    <span>
        <h3 style="text-align: center;">Womens stores</h3>
        <ul style="list-style-type: none;">
            <li> Alexis Hudson</li>
            <li> American Aparel</li>
            <li> Ben Sherman</li>
            <li> Big Budda</li>
            <li> Chanel</li>
            <li> Coach</li>
            <li> Christain Audigier</li>
            <li> Underware</li>
            <li> Ankara</li>
        </ul>
    </span>
</section>
<footer>
    Copyright © Adesoji John
</footer>

</body>

</html>