<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style07.css">
    <style type="text/css">
        .head {

            height: 50px;
            background-color: #321400;
            display: grid;
            grid-template-columns: 100px 100px;

        }

        .nav {
            display: inline;
            margin: 15px;
        }

        body {
            background-color: #034a49;
        }

        span {
            display: grid;
            grid-template-columns: 200px 200px;
        }

        p {


            width: 150px;
            text-align: right;

        }

        a {
            text-decoration: none;
            color: white;
        }

        div {

            height: 50px;
            margin-top: 20px;
            font-style: bold;
            text-align: right;

        }

        #head2 {
            height: 30px;
            color: white;
            text-align: center;
            padding: 10px;
            font-family: algerian;
            margin-left: 400px;
            margin-right: 400px;
            background-color: #160900;
        }

        form {
            background-color: #09E0DD;
            margin-left: 400px;
            margin-right: 400px;
        }

        .me {

            background-color: #110f0e;
            margin-left: 400px;
            margin-right: 400px;
        }

        #display {
            display: grid;
            grid-template-columns: 200px 200px;
        }
    </style>
</head>

<body>
    <nav style="background-color: #09E0DD; " >
        <a href="/shop" style="text-decoration: none; color:white">HOME |</a>
        <a href="" style="text-decoration: none;color:white">SALES |</a>
        <a href="" style="text-decoration: none;color:white">HANDBAGS |</a>
        <a href="" style="text-decoration: none;color:white">WALLETS |</a>
        <a href="" style="text-decoration: none;color:white">ACCESSRIES |</a>
        <a href="" style="text-decoration: none;color:white">MEN'S STORE |</a>
        <a href="" style="text-decoration: none;color:white">SHEOS |</a>
        <a href="" style="text-decoration: none;color:white">SERVICES |</a>
        <a href="/addProduct" style="text-decoration: none;color:white">ADD-NEW-PRODUCT </a>
    </nav>