<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" type="text/css" href="">
    <style type="text/css">
        .head {

            height: 50px;
            background-color: #321400;
            display: grid;
            grid-template-columns: 100px 100px;

        }

        .nav {
            display: inline;
            margin: 15px;
        }

        body {
            background-color: #542505;
        }

        span {
            display: grid;
            grid-template-columns: 200px 200px;
        }

        p {


            width: 150px;
            text-align: right;

        }

        a {
            text-decoration: none;
            color: white;
        }

        div {

            height: 50px;
            margin-top: 20px;
            font-style: bold;
            text-align: right;

        }

        #head2 {
            height: 30px;
            color: white;
            text-align: center;
            padding: 10px;
            font-family: algerian;
            margin-left: 400px;
            margin-right: 400px;
            background-color: #160900;
        }

        form {
            background-color: #7B411A;
            margin-left: 400px;
            margin-right: 400px;
        }

        .me {

            background-color: #7B411A;
            margin-left: 400px;
            margin-right: 400px;
        }

        #display {
            display: grid;
            grid-template-columns: 200px 200px;
        }
    </style>
</head>

<body>
    <header class="head">
        <div>
            <a href="/user">User</a>
        </div>
        <div>
            <a href="/display">Display</a>
        </div>
    </header>