<!DOCTYPE html>
<html>

<head>
    <meta name="description=" content="">
    <title><%=title%></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style07.css">


</head>

<body>
    <section class="header">
        <span>
            <h1>
                <a href="assign04_2.html" style="text-decoration:none; font-family:algerian;color:#09E0DD">T cloth</a>
            </h1>
        </span>
        <span id="search">
            <form>
                <input type="text" name="search">
                <input type="submit" name="search" value="search">
            </form>
        </span>
        <span id="cart">
            <a href="/shop/getCart"><img src="https://banner2.kisspng.com/20180331/uwq/kisspng-supermarket-shopping-cart-logo-computer-icons-groc-supermarket-5abf74486461a3.2709066915224965844112.jpg"
                class="cart" alt="cart"></a>

        </span>
        <!--</div>-->

    </section>
    <nav>
        <a href="/shop" style="text-decoration: none; color:white">HOME |</a>
        <a href="" style="text-decoration: none;color:white">SALES |</a>
        <a href="" style="text-decoration: none;color:white">HANDBAGS |</a>
        <a href="" style="text-decoration: none;color:white">WALLETS |</a>
        <a href="" style="text-decoration: none;color:white">ACCESSRIES |</a>
        <a href="" style="text-decoration: none;color:white">MEN'S STORE |</a>
        <a href="" style="text-decoration: none;color:white">SHEOS |</a>
        <a href="" style="text-decoration: none;color:white">SERVICES |</a>
        <a href="/addProduct" style="text-decoration: none;color:white">ADD NEW PREODUCT |</a>

    </nav>