<% include ../includes/head.ejs %>

    <h3 id="head2">Signup page</h3>
    <%if(errorMsg){%>
        <span style="text-align: center; color:tomato; margin-left: 400px;">
            <%=errorMsg%>
        </span>
        <%}%>
            <form action="/updatepassword" method="POST" id="me">
        <span>
            <p>Password</p>
            <input type=" password" name="password" ">
        </span><br>
        
        <span><input type="submit" value="reset password">
                </span>
               <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" name="userid" value="<%= userid %>">
            <input type="hidden" name="token" value="<%= token %>">
            </form>
            <% include ../includes/end.ejs %>