<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="/json" method="POST">
        <label>name:</label> <input type="text" name="name">
        <label>price:</label> <input type="text" name="price">
        <label>image</label> <input type="text" name="image">
        <label>description:</label> <input type="text" name="description">
        <input type="submit">

    </form>
</body>
</html>