<% include ../includes/head.ejs %>
    <h3 id="head2">Order details</h3>
    <section class="me" style="color: white">
        <%if (list.length >= 1) {%>
            <%list.forEach(element=> {%>
                <section>
                <h3>order Id</h3>
                </section>
                <section style="color: white; margin-left:20px ;">
                <%= element._id%>
                </section>
                <section>
                    <h3>Name of Products</h3>
                </section>
                <%element.product.forEach(elemen=> {%>
                    
                        
                        <section style="color: white; margin-left:20px ;">
                            <%= elemen.product.name%> 
                            <section>quantity <%= elemen.quantity%></section>
                        </section>
                <%})%>
            <%})%>

        <%}%>    

        

    </section>

    <% include ../includes/end.ejs %>